/_site/
**/_book/
**/.quarto/
*.typ
__pycache__/
/_translation-batch.md

# When preiview/remder single .qmd file, Quarto will generate some cache file
*.html
!/_shared/*.html
*_files/
*_cache/

# Claude Code local setting
.claude/settings.local.json
